In [29]:
#%% import packages
import pandas as pd
import pandas_datareader as pdr
from datetime import datetime
import time
import copy
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [30]:
#%% var definitions
stock_list = [   # ten of the 0050 constituent stocks
    2330, 2454, 2317, 2303, 2308, \
    1301, 2412, 1303, 2891, 3008
]
stock_list_2 = [   # ten of the 0050 constituent stocks
    2330, 2454, 2317, 2303, 2308, \
    1301, 2882, 1303, 2891, 3008
]
start = datetime(2009, 1, 1)   # data fetched start point
df = pd.DataFrame(columns=["Date", "tic", "High", "Low", "Open", "Close", "Volume", "Adj Close"])   # df storig data of 10 stocks

In [3]:
#%% function definition
def obs_missing_value(df):   # observe the missing values in dataframe, stock by stock
    '''
        Input:
            df: pd.DataFrame, dataframe for 10 stocks in 0050
        Return:
            None
    '''
    for stock_ticker, stock_data in df.groupby("tic"):
        print("Stock: ", stock_ticker)
        print("=====Stock Data Size=====")
        print(stock_data.shape[0])
        for column in ["High", "Low", "Open", "Close", "Volume", "Adj Close"]:
            print("=====Number of Missing Value in " + column +"=====")
            print(stock_data[column].isnull().sum())

def extract_missing_date(df):   # extract missing dates of the particular
    '''
        Input:
            df: pd.DataFrame, dataframe for 10 stocks in 0050
        Return:
            missing_dates: list, storing missing dates for some specific stocks
    '''
    date_seqs = []
    missing_dates = set()
    testing_stocks = sorted(copy.deepcopy(stock_list_2))
    #testing_stock = ["1301", "2308", "2317", "2330", "2882"]
    #for stock_ticker in ["1301", "1303","2303","2454","2891", "3008"]:
          #date_seqs.append(set(df[df["tic"] == stock_ticker]["Date"]))
    for stock_ticker, stock_data in df.groupby("tic"):
        #if str(stock_ticker) in testing_stock:
        date_seqs.append(set(stock_data["Date"]))
    for i in range(len(date_seqs)-1):
        for j in range(i+1, len(date_seqs)):
            diff = date_seqs[i].symmetric_difference(date_seqs[j])
            if len(diff) == 0:
                continue
            else:
                missing_dates = missing_dates.union(diff)
                print(missing_dates)
                print(str(testing_stocks[i]) + ", " + str(testing_stocks[j]) + " have difference:", diff)
    return list(missing_dates)

def handle_missing_date(df, missing_dates, method="drop"):   # deal with the missing data in dataframe (missing at particular date)
    '''
        Input:
            df: pd.DataFrame, dataframe for 10 stocks in 0050
            missing_dates: list, storing missing dates for some specific stocks
            method: string, the method ued to deal with missing data (default="drop"), can choose on of {"drop", "impute"}
        Return:
            None
    '''
    df_proc = df.copy()
    if method == "drop":
        for missing_date in missing_dates:
            df_proc = df_proc[df_proc["Date"] != missing_date]
        df_proc.reset_index(drop=True, inplace=True)
    return df_proc

def plot_padjc_pc(df):   # plot the relationship of close and adj close
    '''
        Input:
            df: pd.DataFrame, dataframe for 10 stocks in 0050
        Return:
            None
    '''
    df_ploted = df.copy()
    #fig, ax = plt.subplots(figsize=(20, 10))
    plot_count = 1
    for stock_ticker, stock_data in df_ploted.groupby("tic"):
        plt.figure(figsize=(14, 7))
        #plt.subplot(5, 2, plot_count)
        plt.plot(stock_data["Close"])
        plt.plot(stock_data["Adj Close"])
        plt.title("Adj Close versus Close")
        plt.xlabel("Date")
        plt.ylabel("Price")
        plt.legend(["Close", "Adj Close"], loc="upper right")
        plt.show()
        plot_count += 1
    #plt.show()

In [ ]:
'''for stock_ticker in stock_list_2:
    try:
        df_tmp = pdr.DataReader(str(stock_ticker)+".TW", "yahoo", start)
    except:
        print(str(stock_ticker) + "has some problem!")
        continue
    print(str(stock_ticker) + "success!")
    df_tmp["tic"] = [str(stock_ticker) for _ in range(df_tmp.shape[0])]
    df_tmp.reset_index(drop=False, inplace=True)
    print(df_tmp.head())
    df = pd.concat([df, df_tmp], ignore_index=True, axis=0)
    time.sleep(3)
df.to_csv("tw0050_10_2.csv", index=False)'''

In [16]:
#%% exploratory data analysis
df = pd.read_csv("tw0050_10_2.csv")
#obs_missing(df)
missing_dates = extract_missing_date(df)
df = handle_missing_date(df, missing_dates)   # deal with the missing data in dataframe (missing at particular date)
plot_padjc_pc(df)

{'2009-08-07'}
1301, 2308 have difference: {'2009-08-07'}
{'2009-08-07'}
1301, 2317 have difference: {'2009-08-07'}
{'2009-08-07'}
1301, 2330 have difference: {'2009-08-07'}
{'2009-08-07'}
1303, 2308 have difference: {'2009-08-07'}
{'2009-08-07'}
1303, 2317 have difference: {'2009-08-07'}
{'2009-08-07'}
1303, 2330 have difference: {'2009-08-07'}
{'2009-08-07'}
2303, 2308 have difference: {'2009-08-07'}
{'2009-08-07'}
2303, 2317 have difference: {'2009-08-07'}
{'2009-08-07'}
2303, 2330 have difference: {'2009-08-07'}
{'2009-08-07'}
2308, 2454 have difference: {'2009-08-07'}
{'2009-08-07'}
2308, 2882 have difference: {'2009-08-07'}
{'2009-08-07'}
2308, 2891 have difference: {'2009-08-07'}
{'2009-08-07'}
2308, 3008 have difference: {'2009-08-07'}
{'2009-08-07'}
2317, 2454 have difference: {'2009-08-07'}
{'2009-08-07'}
2317, 2882 have difference: {'2009-08-07'}
{'2009-08-07'}
2317, 2891 have difference: {'2009-08-07'}
{'2009-08-07'}
2317, 3008 have difference: {'2009-08-07'}
{'2009-08-07'}
2330, 2454 have difference: {'2009-08-07'}
{'2009-08-07'}
2330, 2882 have difference: {'2009-08-07'}
{'2009-08-07'}
2330, 2891 have difference: {'2009-08-07'}
{'2009-08-07'}
2330, 3008 have difference: {'2009-08-07'}

In [57]:
df_handle=pd.read_csv('done_data.csv')
df_tw=pd.read_csv('done_data_tw.csv')

In [58]:
date=df_handle['datadate'].tolist()
date=[str(ele) for ele in date]
date=[temp[:4]+'-'+temp[4:6]+'-'+temp[6:] for temp in date]
df_handle['datadate']=date
df_handle=df_handle.drop(columns=['Unnamed: 0'])
df_handle.to_csv('done_data.csv')

In [55]:
df_handle

,datadate,tic,adjcp,open,high,low,volume,macd,rsi,cci,adx,turbulence
0,2009-01-02,AAPL,12.964286,12.268571,13.005714,12.165714,26641980.0,0.000000,100.000000,66.666667,100.000000,0.000000
1,2009-01-02,AXP,19.330000,18.570000,19.520000,18.400000,10955620.0,0.000000,100.000000,66.666667,100.000000,0.000000
2,2009-01-02,BA,45.250000,42.800000,45.560000,42.780000,7010171.0,0.000000,100.000000,66.666667,100.000000,0.000000
3,2009-01-02,CAT,46.910000,44.910000,46.980000,44.710000,7116726.0,0.000000,0.000000,66.666667,100.000000,0.000000
4,2009-01-02,CSCO,16.960000,16.410000,17.000000,16.250000,40977480.0,0.000000,100.000000,66.666667,100.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
87775,2020-08-17,V,199.430000,197.300000,200.460000,196.710000,6254162.0,1.034837,54.439341,102.385321,23.576070,127.002248
87776,2020-08-17,VZ,58.780000,58.730000,58.930000,58.545000,8370334.0,0.776839,57.534456,103.687894,40.790021,127.002248
87777,2020-08-17,WBA,41.175000,41.910000,41.969400,40.810000,5258868.0,0.092803,48.564939,40.646766,13.658417,127.002248
87778,2020-08-17,WMT,135.600000,134.350000,136.130000,133.850000,12991970.0,1.531932,61.371397,201.149482,52.305705,127.002248
87779,2020-08-17,XOM,42.640000,43.170000,43.170000,42.470000,15527400.0,-0.227324,46.511293,-65.015760,2.021414,127.002248

In [34]:
df_tw['datadate'][0]

'2010-01-04'